body {
    font-family: Century, serif;
    color: #333333;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1em;
    background-color: #ffffff;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Futura, sans-serif;
}
a:link, a:visited, a:active {
    text-decoration: none;
    color: #0000ee;
}
a:hover {
    text-decoration: underline;
    background-color: #0000ee;
    color: #ffffff;
}

dt {
    font-weight: bold;
}