body {
    display: flex;
    border: 1px solid darkgoldenrod;
    flex-direction: column;
    color: oldlace;
}

header {
    background-color: #ac2925;
    color: oldlace;

}

main {
    background-color: #0000EE;
    color: oldlace;

}

footer {
    background-color: #385905;
    color: oldlace;

}