/* -----------------------------
   colors used
   -----------------------------
    #000000
    #020203
    #4d84c4
    #a51c30
    #f5f5f8
    #ebebeb
    #ffffff
    
    You can see the color palette (minus the white and black) at: 
    https://coolors.co/a51c30-4d84c4-020203-ebebeb-f5f5f8
*/

/* -----------------------------
   fonts used
   -----------------------------
Note that Roboto and "Roboto Condensed" are available from the linked fonts already in the HTML

font-family stack for most things:
    Roboto, Arial, sans-serif;

font-family stack for 'condensed' elements, such as hX headings, header navigation, and links in the 'Explore'  section:
    'Roboto Condensed', Arial, sans-serif;
   -----------------------------  */

/* -----------------------------
   background images used
   -----------------------------
../images/hes_shield_wordmark.svg   - This is the HES Shield and HES Wordmark
../images/campus_bridge_river.jpg   - This is the background image for the 
                                      "Explore" section
../images/images/arrow-right.svg    - This is the crimson arrow next to the 
                                      hypertext links in the "Explore" sections
../images/mortar-board.svg          - The "cap" in Student Success stories 'program'
../images/map-marker.svg            - The map marker in Student Success 
                                      stories 'hometown'

   -----------------------------  */

body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}


/* turn off sections you aren't working on so you can focus!
   I suggest you begin with working on the "footer"
*/
/* consider uncommenting this to start so that only the footer is visible! */



/* -----------------------------
   Styles for footer

   NOTE: I could have just used 'display: inline'
   for the footer links, but I already know how to do that.
   That's boring - since this was a lesson on learning flexbox,
   I decided to try making the footer navigation with flex
   ----------------------------- */

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #020203;
    color: #ffffff;
    font-size: 0.8em;
    padding: 1em;
}

footer a:active,
footer a:link,
footer a:visited{
    color: white;
    text-decoration: none;
}

footer .contactplus li {
    margin-right: 25px;
    font-weight: bold;
}

.privacyplus li {
    border-right: 1px solid white;
    padding-right:1.2em;
    margin-right: 1.2em;
}

 .privacyplus li:last-child {
     border: none;
 }

footer ul, p {
    padding-left: 15px;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 10px;
}


/* ----------------------------- */

/* -----------------------------
   Styles for header
   ----------------------------- */

/* ----------------------------- */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #F5F5F8;
    color: #ffffff;
    font-size: 0.8em;
    padding: 1em;
}

header h2 {
    background-color: #A51C30;
    font-variant: small-caps;
    width:  100%;
}

header h2.wordmark {
    background-color: white;
    text-indent: -9999px;
    height: 3em;
}

header nav ul {
    list-style-type: none;
}
header nav ul li {
    display: inline;
    padding-left: 2em;
}



/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for header primary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for header secondary nav
   ----------------------------- */

/* ----------------------------- */


/* -----------------------------
   Styles for "Explore"
   ----------------------------- */

/* ----------------------------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sections h2 {
    background-color: #F5F5F8;
    text-transform: uppercase;
    margin: 0px;
}

.sections ul {
    background-color: #EBEBEB;
}

.sections {
    background-image: url("../images/campus_bridge_river.jpg");
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}


.sections section {
    flex-basis: 27%;
    flex-shrink: 0;
    border-top: 5px solid #A51C30;
    background-color: #ebebeb;
    margin: 2em 2em;

}



/* -----------------------------
   Styles for "Student Success"
   ----------------------------- */
.studentsuccess {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 + p {
    width: 60%;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    margin: 10px;
    width: 285px;
    padding: 10px;
    background: white;
    display: flex;
    flex-flow: column nowrap;
}

article li {
    list-style-type: none;
}

li.hometown {
    list-style-image: url("../images/map-marker.svg");
}

li.program {
    list-style-image: url("../images/mortar-board.svg");
}