body {
    font-family: Roboto, Arial, sans-serif;
    display: flex;
    flex-direction: column;
}



/* -----------------------------
   Styles for header
   ----------------------------- */

header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #F5F5F8;
    font-size: 0.8em;
    padding: 1em;
}

header h2 {
    background-color: #A51C30;
    font-variant: small-caps;
    width:  100%;
}

header h2.wordmark {
    background-color: #F5F5F8;
    text-indent: -9999px;
}


header nav ul li {
    display: inline;
    margin: 0;
    padding: 0;
    padding-left: 15px;

}

li.login  {


}

.getinfo {
    color: #EBEBEB;
}


/* -----------------------------
   Styles for header primary nav
   ----------------------------- */


.primary a:active,
.primary a:link,
.primary a:visited{
    color: #020203;
    text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
}


.primary li {
    border-right: 3px solid #020203;
    padding-right: 15px;
}


.primary li:last-child,
.primary li:nth-last-child(2){
    border: none;
}


/* -----------------------------
   Styles for header secondary nav
   ----------------------------- */

.secondary a:active,
.secondary a:link,
.secondary a:visited{
    color: #4D84C4;
    text-decoration: none;
    padding-right: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

.secondary li {
    padding-right: 15px;
}




/* -----------------------------
   Styles for "Explore"
   ----------------------------- */

/* ----------------------------- */
main {
    background-image: url("../images/campus_bridge_river.jpg");
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main h1 {
    text-align: center;
    color: #F5F5F8;
    font-size: 4em;
}

.sections h2 {
    background-color: #F5F5F8;
    text-transform: uppercase;
    margin: 0;
    padding-left: 10px;
}

.sections ul {
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
    padding-left: 10px;
}

.sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    padding-bottom: 15px;
}


.sections section {
    flex-basis: 28%;
    flex-shrink: 0;
    border-top: 5px solid #A51C30;
    background-color: #EBEBEB;
    margin: 1.5em 1.5em;
    padding-right: 5px;
    font-weight: bold;
}

.sections li {
    list-style-type: none;
    margin-right: 0.1em;
    padding: 0.3em;
}

.sections li:first-child {
    padding-top: 25px;
}
.sections li:last-child {
    padding-bottom: 25px;
}

.sections li:after {
    content: url("../images/arrow-right.svg");
}


.sections a:active,
.sections a:link,
.sections a:visited{
    color: #a51c30;
    text-decoration: none;
    padding-right: 5px;
}





/* -----------------------------
   Styles for "Student Success"
   ----------------------------- */
.studentsuccess {
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 + p {
    width: 60%;
}

.articles {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article {
    margin: 10px;
    width: 285px;
    padding: 10px;
    background: #F5F5F8;
    display: flex;
    flex-flow: column nowrap;
}

article li {
    list-style-type: none;
}

li.hometown {
    list-style-image: url("../images/map-marker.svg");
}

li.program {
    list-style-image: url("../images/mortar-board.svg");
}





/* -----------------------------
   Styles for footer

   NOTE: I could have just used 'display: inline'
   for the footer links, but I already know how to do that.
   That's boring - since this was a lesson on learning flexbox,
   I decided to try making the footer navigation with flex
   ----------------------------- */

footer {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    background-color: #020203;
    color: #F5F5F8;
    font-size: 0.8em;
    padding: 1em;
}

footer a:active,
footer a:link,
footer a:visited{
    color: #F5F5F8;
    text-decoration: none;
}

footer .contactplus li {
    margin-right: 25px;
    font-weight: bold;
}

.privacyplus li {
    border-right: 1px solid #F5F5F8;
    padding-right:1.2em;
    margin-right: 1.2em;
}

.privacyplus li:last-child {
    border: none;
}

footer ul, p {
    padding-left: 15px;
}

footer nav ul {
    display: flex;
    list-style-type: none;
    padding-right: 10px;
}